In [74]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [75]:
data_train=pd.read_csv('E:/Akshay/Python/Twitter/train.csv')
data_test=pd.read_csv('E:/Akshay/Python/Twitter/test.csv')

In [76]:
data_train.head()

   tweet_id                                              tweet  sentiment
0      1701  #sxswnui #sxsw #apple defining language of tou...          1
1      1851  Learning ab Google doodles! All doodles should...          1
2      2689  one of the most in-your-face ex. of stealing t...          2
3      4525  This iPhone #SXSW app would b pretty awesome i...          0
4      3604  Line outside the Apple store in Austin waiting...          1

In [77]:
data_test.head()

   tweet_id                                              tweet
0      7506  Audience Q: What prototyping tools do you use?...
1      7992  At SXSW? Send Your Best Photos &amp; Videos to...
2       247  @mention  and here's a pic of you winning your...
3      7688  Google Marissa Mayer: mobile phone as a cursor...
4      3294    #SXSW Google maps is even cooler than I thought

In [78]:
data_train.drop(['tweet_id'],axis=1,inplace=True)
data_test.drop(['tweet_id'],axis=1,inplace=True)

In [79]:
#data_total=pd.concat([data_train,data_test],axis=0)

In [80]:
data_train['tweet'].isnull().sum()

1

In [81]:
data_test['tweet'].isnull().sum()

0

In [82]:
data_train['tweet']=np.where(pd.isnull(data_train['tweet']),'None',data_train['tweet'])

In [83]:
data_train.shape

(7274, 2)

In [84]:
data_test.shape

(1819, 1)

In [85]:
#data_total.shape

In [86]:
data_train.groupby(['sentiment']).count()

           tweet
sentiment
0            456
1           4311
2           2382
3            125

In [87]:
data_train['string_length']=data_train['tweet'].str.len()
data_test['string_length']=data_test['tweet'].str.len()

In [88]:
data_train.groupby(['sentiment'])['string_length'].mean()

sentiment
0    108.923246
1    104.001160
2    105.845088
3    101.784000
Name: string_length, dtype: float64

In [89]:
data_train['word_count']=data_train['tweet'].str.split().str.len()
data_test['word_count']=data_test['tweet'].str.split().str.len()

In [90]:
#data_total.groupby(['sentiment'])['word_count'].mean()

In [91]:
#from nltk.corpus import stopwords
#stop= set(stopwords.words('english')) 

#data_total['processedtext'] = data_total['tweet'].str.replace('[^\w\s]','')
#data_total['processedtext'] = data_total['processedtext'].str.replace('@\w+','')
#data_total['processedtext'] = data_total['processedtext'].str.replace('#\w+','_mention_')
#data_total['processedtext'] = data_total['processedtext'].str.replace('\d\d\/\d\d\/\d\d\d\d','__date__')
#data_total['processedtext'] = data_total['processedtext'].astype(str).apply(lambda x: " ".join(x for x in x.split() if x not in stop))
#data_total['processedtext'] = data_total['processedtext'].astype(str).apply(lambda x: " ".join(x.lower() for x in x.split()))

In [92]:
import nltk

In [93]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Home\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [94]:
from nltk.corpus import stopwords
stop= set(stopwords.words('english')) 

data_train['processedtext'] = data_train['tweet'].str.replace('[^\w\s]','')
data_train['processedtext'] = data_train['processedtext'].str.replace('@\w+','')
data_train['processedtext'] = data_train['processedtext'].str.replace('#\w+','_mention_')
data_train['processedtext'] = data_train['processedtext'].str.replace('\d\d\/\d\d\/\d\d\d\d','__date__')
data_train['processedtext'] = data_train['processedtext'].astype(str).apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data_train['processedtext'] = data_train['processedtext'].astype(str).apply(lambda x: " ".join(x.lower() for x in x.split()))

data_test['processedtext'] = data_test['tweet'].str.replace('[^\w\s]','')
data_test['processedtext'] = data_test['processedtext'].str.replace('@\w+','')
data_test['processedtext'] = data_test['processedtext'].str.replace('#\w+','_mention_')
data_test['processedtext'] = data_test['processedtext'].str.replace('\d\d\/\d\d\/\d\d\d\d','__date__')
data_test['processedtext'] = data_test['processedtext'].astype(str).apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data_test['processedtext'] = data_test['processedtext'].astype(str).apply(lambda x: " ".join(x.lower() for x in x.split()))

In [95]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Home\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [96]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
data_train['processedtext'] = data_train['processedtext'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))
data_test['processedtext'] = data_test['processedtext'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))

In [97]:
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
data_train['processedtext'] = data_train['processedtext'].apply(lambda x: " ".join([lemmatizer.lemmatize(word) for word in x.split()]))
data_test['processedtext'] = data_test['processedtext'].apply(lambda x: " ".join([lemmatizer.lemmatize(word) for word in x.split()]))

In [98]:
data_train.head()

,tweet,sentiment,string_length,word_count,processedtext
0,#sxswnui #sxsw #apple defining language of tou...,1,89,12,sxswnui sxsw appl defin languag touch differ d...
1,Learning ab Google doodles! All doodles should...,1,143,19,learn ab googl doodl all doodl light funni amp...
2,one of the most in-your-face ex. of stealing t...,2,132,22,one inyourfac ex steal show yr rt mention quot...
3,This iPhone #SXSW app would b pretty awesome i...,0,125,19,thi iphon sxsw app would b pretti awesom didnt...
4,Line outside the Apple store in Austin waiting...,1,77,14,line outsid appl store austin wait new ipad sx...

In [99]:
tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', ngram_range=(1, 2),
                        lowercase=True, stop_words= 'english')

data_tfidf_train = tfidf.fit_transform(data_train['processedtext'])

In [100]:
data_tfidf_train=data_tfidf_train.toarray()

In [101]:
data_tfidf_train.shape

(7274, 3615)

In [102]:
#from sklearn.feature_selection import SelectKBest 
#from sklearn.feature_selection import chi2 
#chi2_features = SelectKBest(chi2, k = 150) 

#X = chi2_features.fit_transform(data_tfidf_train,data_train['sentiment'])
#X.shape

In [103]:
y=data_train['sentiment']

In [104]:
data_tfidf_train.shape

(7274, 3615)

In [105]:
df1 = pd.DataFrame(data_tfidf_train, columns=tfidf.get_feature_names())

In [106]:
df1.columns

Index(['031111', '031111 infektd', '031211', '031211 infektd', '031311',
       '031311 infektd', '031411', '031411 infektd', '10', '10 austin',
       ...
       'ûïmention', 'ûïmention appl', 'ûïmention googl', 'ûïmention mention',
       'ûïmention new', 'ûïmention rt', 'ûïmention rumor', 'ûïmention sxsw',
       'ûò', 'ûó'],
      dtype='object', length=3615)

In [107]:
data_tfidf_test = tfidf.transform(data_test['processedtext'])

In [108]:
df2 = pd.DataFrame(data_tfidf_test.toarray(), columns=tfidf.get_feature_names())

In [109]:
data_train.drop(['tweet','processedtext'],axis=1,inplace=True)
data_test.drop(['tweet','processedtext'],axis=1,inplace=True)

In [110]:
data_train1=pd.concat([data_train,df1],axis=1)

In [111]:
data_test1=pd.concat([data_test,df2],axis=1)

In [112]:
data_train1.columns

Index(['sentiment', 'string_length', 'word_count', '031111', '031111 infektd',
       '031211', '031211 infektd', '031311', '031311 infektd', '031411',
       ...
       'ûïmention', 'ûïmention appl', 'ûïmention googl', 'ûïmention mention',
       'ûïmention new', 'ûïmention rt', 'ûïmention rumor', 'ûïmention sxsw',
       'ûò', 'ûó'],
      dtype='object', length=3618)

In [113]:
data_train1.head()

,sentiment,string_length,word_count,031111,031111 infektd,031211,031211 infektd,031311,031311 infektd,031411,...,ûïmention,ûïmention appl,ûïmention googl,ûïmention mention,ûïmention new,ûïmention rt,ûïmention rumor,ûïmention sxsw,ûò,ûó
0,1,89,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,143,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,132,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,125,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,77,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
data_test1.head()

,string_length,word_count,031111,031111 infektd,031211,031211 infektd,031311,031311 infektd,031411,031411 infektd,...,ûïmention,ûïmention appl,ûïmention googl,ûïmention mention,ûïmention new,ûïmention rt,ûïmention rumor,ûïmention sxsw,ûò,ûó
0,138,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,124,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,108,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,125,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,47,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedShuffleSplit

In [116]:
x=data_train1.drop(['sentiment'],axis=1)
y=data_train1['sentiment']

In [117]:
x

,string_length,word_count,031111,031111 infektd,031211,031211 infektd,031311,031311 infektd,031411,031411 infektd,...,ûïmention,ûïmention appl,ûïmention googl,ûïmention mention,ûïmention new,ûïmention rt,ûïmention rumor,ûïmention sxsw,ûò,ûó
0,89,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,143,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,132,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,125,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,77,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7269,93,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7270,91,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7271,140,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7272,92,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7273,137,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [118]:
train_x,val_x,train_y,val_y=train_test_split(x,y,test_size=0.2,stratify=y)

In [119]:
train_y.value_counts()

1    3449
2    1905
0     365
3     100
Name: sentiment, dtype: int64

In [120]:
val_y.value_counts()

1    862
2    477
0     91
3     25
Name: sentiment, dtype: int64

In [121]:
rf=RandomForestClassifier(class_weight='balanced',random_state=0)

In [122]:
rf.fit(train_x,train_y)

E:\Akshay\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=10, n_jobs=None, oob_score=False,
                       random_state=0, verbose=0, warm_start=False)

In [123]:
predict=rf.predict(val_x)

In [124]:
from sklearn.metrics import f1_score

In [125]:
f1_score(val_y,predict, average='weighted')

0.5767843015442178

In [126]:
ab= pd.DataFrame(predict,val_y)

In [127]:
ab

           0
sentiment
2          1
0          1
1          1
0          1
2          1
...       ..
2          1
2          1
1          1
1          1
1          1

[1455 rows x 1 columns]

In [128]:
predict1=rf.predict(train_x)

In [129]:
f1_score(train_y,predict1, average='weighted')

0.9773358761954762

In [130]:
from sklearn.linear_model import LogisticRegression

In [131]:
lr=LogisticRegression(class_weight='balanced')

In [132]:
lr.fit(train_x,train_y)

E:\Akshay\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\Akshay\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [133]:
predict1=lr.predict(val_x)

In [134]:
from sklearn.metrics import classification_report

In [135]:
print(classification_report(predict1,val_y))

              precision    recall  f1-score   support

           0       0.33      0.32      0.32        94
           1       0.79      0.73      0.76       934
           2       0.52      0.62      0.57       399
           3       0.00      0.00      0.00        28

    accuracy                           0.66      1455
   macro avg       0.41      0.42      0.41      1455
weighted avg       0.67      0.66      0.66      1455

In [136]:
predict2=lr.predict(train_x)

In [137]:
print(classification_report(train_y,predict2))

              precision    recall  f1-score   support

           0       0.63      0.80      0.70       365
           1       0.82      0.86      0.84      3449
           2       0.78      0.65      0.71      1905
           3       0.61      0.94      0.74       100

    accuracy                           0.79      5819
   macro avg       0.71      0.81      0.75      5819
weighted avg       0.79      0.79      0.79      5819

In [138]:
lr.predict(data_test1)

array([1, 1, 1, ..., 2, 0, 1], dtype=int64)

In [139]:
#conda install -c conda-forge imbalanced-learn

In [140]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_resample(x, y)

In [141]:
train_x1,val_x1,train_y1,val_y1=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [142]:
lr.fit(train_x1,train_y1)
predict_over=lr.predict(val_x1)
print(classification_report(val_y1,predict_over))

E:\Akshay\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\Akshay\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

              precision    recall  f1-score   support

           0       0.85      0.91      0.88       852
           1       0.71      0.65      0.67       848
           2       0.73      0.67      0.70       892
           3       0.90      0.99      0.95       857

    accuracy                           0.81      3449
   macro avg       0.80      0.81      0.80      3449
weighted avg       0.80      0.81      0.80      3449

In [143]:
predict_over2=lr.predict(train_x1)
print(classification_report(train_y1,predict_over2))

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      3459
           1       0.81      0.74      0.77      3463
           2       0.83      0.77      0.80      3419
           3       0.92      0.99      0.96      3454

    accuracy                           0.86     13795
   macro avg       0.86      0.86      0.86     13795
weighted avg       0.86      0.86      0.86     13795

In [145]:
print(classification_report(val_y,lr.predict(val_x)))

              precision    recall  f1-score   support

           0       0.46      0.89      0.61        91
           1       0.89      0.71      0.79       862
           2       0.72      0.75      0.73       477
           3       0.30      1.00      0.46        25

    accuracy                           0.74      1455
   macro avg       0.59      0.84      0.65      1455
weighted avg       0.79      0.74      0.75      1455

In [146]:
print(classification_report(train_y,lr.predict(train_x)))

              precision    recall  f1-score   support

           0       0.48      0.95      0.64       365
           1       0.87      0.72      0.79      3449
           2       0.70      0.72      0.71      1905
           3       0.36      0.99      0.53       100

    accuracy                           0.74      5819
   macro avg       0.60      0.84      0.67      5819
weighted avg       0.78      0.74      0.75      5819